.Contact {
  display: flex;
  flex-direction: column;

  text-align: left;
  padding-top: clamp(64px, 10vw, 92px);
  padding-inline: 16px;
  width: 50%;
  max-width: 720px;
}
.headings h3 {
  margin: 0;
  text-align: left;
}
.headings h4 {
  text-align: left;
  color: #475467;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.headings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 48px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas:
    "first last"
    "email   "
    "message  "
    "checkbox"; */
  gap: 24px;
}
.email {
  position: relative;
  grid-column: 1/3;
}

.first {
  position: relative;
  grid-column: 1/2;
}
.last {
  position: relative;
  grid-column: 2/-1;
}

/* .first ::after {
  position: absolute;
  left: 0;
  bottom: -21px;
  color: var(--error-text);
  content: "Please enter something";

  z-index: 99;
} */

/* .Error {
  color: var(--error-text);
  border: 1px solid var(--error);
}
.Error ::after {
  position: absolute;
  left: 0;
  bottom: -21px;
  color: var(--error-text);
  content: "Please enter something";
  z-index: 99;
} */

@media screen and (max-width: 850px) {
  .Contact {
    width: auto;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .first {
    width: 100%;
    grid-column: 1/-1;
  }
  .last {
    width: 100%;
    grid-column: 1/-1;
  }
  .email {
    grid-column: 1/-1;
  }
}
