.profile__img {
  width: 88px;
  height: 88px;
  border-radius: 275px;
}

.profile {
  position: relative;
  width: max-content;
  border-radius: 275px;
  cursor: pointer;
}

.profile::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(52, 64, 84, 0.75);
  border-radius: 275px;
}

.profile:hover::after {
  display: inline;
}
.cam {
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 8px;
  right: 36%;
}
.profile:hover .cam {
  display: block;
}

.profile__img:focus,
.profile:focus {
  box-shadow: 0px 0px 0px 5.5px rgba(235, 233, 254, 1);
}
