@import "~sanitize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

h4 {
  font-size: clamp(18px, 4.5vw, 20px);
  line-height: clamp(28px, 5vw, 30px);
  font-weight: 700;
  color: var(--font-color);
}
a {
  text-decoration: none;
  color: var(--font-color);
  font-size: clamp(14px, 2.5vw, 18px);
  font-weight: 500;
  line-height: clamp(20px, 5vw, 28px);
}
:root {
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --font-color: #101828;
  --white: #fcfcfd;
}
* {
  font-family: "Inter", sans-serif;
}
